* {
    padding: 0;
    margin: 0;
  }
  
html, body {
  width: 100%;
  height: 100%;
}

.bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(115deg, #97CBFF	 25%, transparent 50%, 	#FF7575 75% 100%);
  background-attachment: fixed;
  /* padding: 20px 0 0 0; */
}

.text {
  font-family: 'Andada Pro';
  font-size: 130px;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translateX(-65%);
          transform: translateX(-65%);
}

canvas.sec {
  margin: 30px auto;
}

.timer {
  width: 100%;
  text-align: center;
}

.title {
  margin: auto;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  padding: 55px 0 30px;
}

.title small {
  display: block;
  margin: auto;
  text-align: center;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap img {
  height: 500px;
}

.wrap img.img1 {
  -webkit-transform: translate(-70px, 0px);
          transform: translate(-70px, 0px);
}

.wrap img.img2 {
  -webkit-transform: translate(50px, 0px);
          transform: translate(50px, 0px);
}

.wrap [class^='person'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class^='grade_bar'] {
  width: 30px;
  height: 350px;
  -webkit-transform: translateY(70px);
          transform: translateY(70px);
  border-radius: 10px;
  border: 3px solid #fff;
  position: relative;
  color: #fff;
}

[class^='grade_bar'] .points {
  width: 30px;
  height: 120px;
  background-color: #FFE153;
  border-radius: 0 0 5px 5px;
  position: absolute;
  bottom: 0;
}

[class^='grade_bar'] > [class^='grade'] {
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
  font-weight: 500;
}

.grade_bar1 .points {
  height: 250px;
}
.buttons{
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.buttons > button{
  background-color: rgb(119, 119, 119);
  flex: 1;
  color: #fff;
  font-weight: bold;
}
.form_bg button:hover{
  background-color: #ffa;
  color: #000;
}
.form_bg{
  margin-top: 250px;
  transform: translateX(-10%);
  border-radius: 10px;
  width: 300px;
  height: 200px;
  background-color: rgba(0, 0, 0, .5);
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.form_bg input, .form_bg button{
  text-align: center;
  border-radius: 5px;
  padding: 8px;
  margin: 3px;
  cursor: pointer;
}
.form_bg input:focus{
  outline: none;
}
.form_bg form{
  display: flex;
  flex-direction: column;
  width: 240px;
}
.new_form{
  width: 450px;
  height: 300px;
  margin-top: 0;
  position: relative;
}
.new_form form{
  color: #fff;
  text-align: center;
}
.new_form form > *{
  margin: 5px;
  /* width: 200px; */
}
.formBg_animate {
  animation: scroll_effect 3s;
  animation-fill-mode: forwards;
}
.form_animate {
  animation: disappear 2.5s;
  animation-fill-mode: forwards;
}
@keyframes scroll_effect{
  100%{
    width: 0;
    opacity: 0;
  }
}
@keyframes disappear {
  100%{opacity: 0;}
}
@keyframes appear {
  0%{width: 0;}
  100%{width: 380px;}
}
@keyframes showQuestion {
  0%{opacity: 0;}
  100%{opacity: 1;}
}
.questions{
  position: absolute;
  width: 0px;
  min-height: 380px;
  /* height: 420px; */
  background-color: rgba(0, 0, 0, .5);
  border: 5px solid #fff;
  border-radius: 10px;
  animation: appear 2s .5s;
  animation-fill-mode: forwards;
}
.questions  *{
  padding: 10px;
  font-size: 22px;
  border-radius: 30px;
  margin: 5px;
}

.question{
  /* height: 130px; */
  padding: 0;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 35px;
  overflow: hidden;
  white-space: nowrap;
}
.typing{
  animation: showQuestion 3s;
  margin: auto;
}
#questionBoard{
  display: flex;
  flex-direction: column;

}
#questionBoard button{
  box-shadow: 3px 3px 5px #000;
  cursor: pointer;
  border: none;
  background-color: rgb(119, 119, 119);
  color: #fff;
}

#questionBoard > button:hover{
  transform: translate(-3px, -3px);
  box-shadow: 3px 3px 5px rgb(248, 219, 138);
  background-color: #ffa;
  color: #000;
}