html, body{
    width: 100%;
    height: 100%;
    text-align: center;
}

#rank-part{
    width: 100%;
}

#rank-part i{
    font-size: 33px;
}

#rank-part .left{
    padding-left: 20%;
}

#rank-part .right{
    padding-right: 20%;
}

#rank-part .title{
    color: #fff;
    margin: 40px auto 20px;
}
#rank{
    font-size: 21px;
    font-weight: bold;
    margin: auto;
    width: 80%;
    position: relative;
}
#rank h2{
    position: absolute;
    left: 15px;
    display: inline-block;
    margin-right: 15px;
}
#rank h3{
    position: absolute;
    display: inline-block;
    right: 10px;
}

.ice-breaking{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;
}

.ice-breaking i{
    color: rgba(255, 255, 255, .7);
}

.ice-breaking i.left{
    cursor: not-allowed;
}

.ice-breaking i.right{
    cursor: pointer;
}

.ice-breaking i.right:hover{
    color: #fff;
}

.alert.yellow{
    background-color: #ffa;
}

.alert.grey{
    background-color: grey;
}